# React Native
node_modules/
package-lock.json
yarn.lock

# iOS
ios/

# Android
android/

# Expo
.expo/
.expo-shared/

# Miscellaneous
*.log
*.DS_Store
.env

# Metro bundler
metro-cache/

# Temporary files
.tmp/
*.swp

# VS Code
.vscode/

# Firebase
firebase-debug.log

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode
*.pbxproj
*.xcworkspace
*.xcuserdata
*.xcuserdatad/

# Google Services
google-services.json
GoogleService-Info.plist
