# React Native
node_modules/
package-lock.json
yarn.lock

# iOS
ios/Pods/
ios/*.xcodeproj/
ios/*.xcworkspace/
ios/DerivedData/
ios/build/
ios/.last_build/

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/app/.cxx/
android/app/src/debug/
android/app/src/release/
android/local.properties

# Expo
.expo/
.expo-shared/

# Miscellaneous
*.log
*.DS_Store
.env

# Metro bundler
metro-cache/

# Temporary files
.tmp/
*.swp

# VS Code
.vscode/

# Firebase
firebase-debug.log
google-services.json
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode
*.pbxproj
*.xcworkspace
*.xcuserdata
*.xcuserdatad/

